.leftfoto{
  float:left;
  margin: 0px 15px 15px 15px;
}
.divdiv{
  display:inline-block;
  padding: 1%;
  margin: 0;
  width: 95% ;
}
p{
  margin: 10px;
  font-size: 14pt;
}
.di{
  border: solid 1px;
  border-radius: 5px;
  margin: 15px 0px 15px 0px;
}
.d{
  text-align: center;
}
.foc {
  width: 800px;
}
.foc:focus {
  width: 100%;
}

.pagination{
background-color :  Blue;
color:White;
display: inline-block;
padding: 10px;
text-align: center;
border-radius: 5px;
text-decoration:none;
}

.pagination:hover {
 background-color : #191970;
}

.color {
 background-color : #191970;
}

/*hhhhhhhhhhhh*/
.ide {
    color: #000000;
}

pre.ide {
    background: #e7f3f9;
}

.ide-keyword {
    color: rgb(0, 150, 189);
}

.ide-system-keyword {
    color: rgb(94, 109, 3);
}

.ide-platform-function {
    color: rgb(211, 84, 0);
}

.ide-platform-class {
    color: rgb(211, 84, 0);
    font-weight: bold;
}

.ide-string {
    color: rgb(0, 92, 95);
}

.ide-line-comment {
    color: rgb(102, 78, 83);
}

.ide-block-comment {
    color: rgb(145, 165, 166);
}
/*kkkkkkkkkkkk*/